<!DOCTYPE html>
<html>
  <head>
    <title>Mapping</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="helperOutput.js"></script>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="autocomplete/src/jquery.autocomplete.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <div id = "value_search">
      <input  type="textbox" name="" placeholder="Search">
    </div>
    <div id = "city">
      <input  type="textbox" name="" placeholder="Type City">
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX2OMtUkTnj8RnZyNq98wydvbP4DJfprA&callback=initMap"
    async defer></script>
  </body>
</html>
