{% extends "layout.html" %}
{% block body %}

<div onload="initMap()" class="row">
  <div id= "selecters">
    
    <div class="row">
      <div class="col-md-5">
        <form role="form" id="city_select" action="{{ url_for('get_dc') }}" method= post >
          <div class="form-group">
             <select class="form-control" id="city" name="city">
              <option disabled selected>Select City</option>
              <option >all cities</option>
              {% for city in cities %}
                <option>{{ city }}</option>
              {% endfor %}
            </select>    
          </div>
        </form>
      </div>
      <div class="col-md-7">
       <form role="form" id="locality_search" name="loocality_search" action="">
         <div class="form-group">
            <input type="text" class="form-control" id="locality" name="locality" placeholder="Search locality">
         </div>
       </form>
     </div>
    </div>
    
    <div class="row">
      <div id= dcData >
        <table id="dcDataTable" class="table table-striped table-bordered dt-responsive ">
          <thead>
            <th>DC Names</th>
          </thead>
        </table>
      </div>
    </div>

  </div>
  <div id="gmap" class="gmaps"></div>
  <div id="coord" class="coord"></div>
  <div id="legends" class="col-md-2">
    <ul class="list-group">
      <a id="legend_toggle" href="#legend-list" data-toggle="collapse"><li class="list-group-item" >LEGEND</li></a>
    </ul>
    <div id="legend-list" class="collapse">
        <ul class="list-group">
          <li class="list-group-item"><span><img src="{{ url_for('static',filename = 'images/teal-dot.png') }}"></span><strong> Loc</strong> Not Mapped</li>
          <li class="list-group-item"><span><img src="{{ url_for('static',filename = 'images/yellow-dot.png') }}"></span><strong> Loc</strong> Marked NSZ</li>
          <li class="list-group-item"><span><img src="{{ url_for('static',filename = 'images/green-dot.png') }}"></span><strong> Loc</strong> Mapped</li>
          <li class="list-group-item"><span><img src="{{ url_for('static',filename = 'images/blue-dot.png') }}"></span><strong> Loc</strong> No Recom.</li>
          <li class="list-group-item"><span><img src="{{ url_for('static',filename = 'images/magenta-dot.png') }}"></span><strong> Loc</strong> Recom. Include</li>
          <li class="list-group-item"><span><img src="{{ url_for('static',filename = 'images/brown-dot.png') }}"></span><strong> Loc</strong> Recom. Remove</li>
          <li class="list-group-item"><span><img src="{{ url_for('static',filename = 'images/red-dot.png') }}"></span><strong> DC</strong></li>
          <li class="list-group-item"><span><img src="{{ url_for('static',filename = 'images/marker-red.png') }}"></span><strong> DC</strong> Selected</li>
          </ul>
      </div>
  </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX2OMtUkTnj8RnZyNq98wydvbP4DJfprA&callback=initMap"></script>
  {% endblock %}
