{% extends "layout.html" %}
{% block body %}

<div onload="initMap()" class="row">
  <div class="row">
    <div class="col-md-6">
      <form role="form" id="city_select" action="{{ url_for('get_dc') }}" method= post >
        <div class="form-group">
           <select class="form-control" id="city" name="city">
            <option disabled selected>Select City</option>
            <option >all cities</option>
            {% for city in cities %}
              <option>{{ city }}</option>
            {% endfor %}
          </select>    
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form role="form" id="dc_search" name="dc_search" action="">
        <div class="form-group">
           <input type="text" class="form-control" id="dc" name="dc" placeholder="Search DC">
        </div>
      </form>
    </div>
  </div>
  <div id="gmap" class="gmaps"></div>
  <div id="legend"></div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX2OMtUkTnj8RnZyNq98wydvbP4DJfprA&callback=initMap"></script>
  {% endblock %}
